.card-game{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(138, 5, 138, 0.973);
    width: var(--width);
    height: var(--height);
    border-radius:4px;
    border:3px solid var(--color-floral-white);
    cursor: pointer;
    margin-bottom: 1rem;
}
.card-game > img {
    width: 50%;
}

.front > img{
    width: 50%;
}
