.card-front-back{
    --width: 130px;
    --height: 160px;
    width: var(--width);
    height: var(--height);
    position: relative;
    transition: transform 600ms ease-in-out;
    transform-style: preserve-3d;
    perspective: 400px;
}

.card-front-back.-active{
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card-front-back > .card{
    position: absolute;
    backface-visibility: hidden;
}

.card-front-back > .card.-back{
    transform: rotateY(180deg);
}

